.contatoCard{
    display: flex;
    justify-content: center;
    border: black solid 2px;
    border-radius: 1em;
    background-color: #F2B138;
    width: 26vw;
    padding: 2em;
    height: 35em;
    align-items: center;    
}

.botao{
    background-color: #BF2626;
    padding: 0.7em;
    border-radius: 10px;
    border: solid black 0.1em;
    text-decoration: none;
}

.contatoBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genero{
    display: flex;
    gap: 0.2em;
}

.input{
    padding: 0.5em;
    border-radius: 25px;
}