.blocoNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #f2b138;
    justify-content: space-around;
    padding: 1em;
}

.fonte {
    color: #442b19;
    font-size: 1.3em;
    display: flex;
    text-decoration: none;
    transition: all 1s ease;
    color: black;
}

.fonte:hover {
    transform: scale(1.1);
    color: black;
}

#ativo {
    background-color: #c43225;
    padding: 0.2em;
    border-radius: 15px;
    box-shadow: 3px 3px 0px 3px #f89f33;
}